.select2-container .select2-selection--single {
    height: 2.875rem; /* Ajusta a altura do seletor para combinar com os campos de formulário do Bootstrap */
}
.navbar-brand img {
    max-height: 40px; /* De
    fine o tamanho máximo da altura do logo */
    width: auto; /* Garante que a largura seja ajustada automaticamente */
}
.navbar-nav .nav-item .nav-link {
    white-space: nowrap;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 8px 8px 8px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#select2-languageSelect-container.select2-selection__rendered {
    padding: 8px 8px 8px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.select2-selection__clear, .select2-selection__arrow {
    margin-top: 9px;
}
#languageSelect, .selct2.select2-container.select2-container--default, .selection, .select2-selection.select2-selection--single.select2-selection--clearable {
    max-width: 250px;
    margin-left: auto; /* Alinha à direita */
}
.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
    max-width: 250px;
    margin-left: auto; /* Alinha à direita */
}
/* .ms-auto {
    margin-left: 0px;
} */
.select2-dropdown.select2-dropdown--below {
    max-width: 250px;
    margin-left: auto; /* Alinha à direita */
    left: 0;
    box-sizing: border-box;
    display: block;
    position: absolute;
}
.selection {
    max-width: 250px;
    margin-left: auto; /* Alinha à direita */
}
.form-select {
    width: 200px;
}